@model List<SuperRowerDB.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista transakcji</h1>

<p>
    <a asp-action="Add">Wynajmij rower!</a>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th scope="col">
               Numer transakcji
            </th>
            <th scope="col">
               Numer Klienta
            </th>
            <th scope="col">
               Numer roweru cena
            </th>
            <th scope="col">
               Numer roweru typ
            </th >
            <th scope="col">
              Data wynajęcia
            </th>
            <th scope="col">
              Data oddania
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.TransactionID)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.CustomerIF)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.RowerPriceIF)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.RowerRentIF)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td scope="row">
                @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransactionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransactionID })
            </td>
        </tr>
}
    </tbody>
</table>
