@model SuperRowerDB.Transaction
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Potwierdzenie przyjęcia wiadomości kontaktowej</h1>
    <div>
        @*<h3>
            Dziękujemy za wypożyczenie roweru @Model.Model na czas <br />
            <b>od</b> @Model.StartDate <b>do</b> @Model.StartDate <br />
            Kwota transakcji: .....
        </h3>
        <p>
            Sprawdź czy podane przez Ciebie dane są prawidłowe!<br />
            Imię: @Model.NameCustomer<br />
            Nazwisko: @Model.LastNameCustomer<br />
            nr.tel: @Model.TelCustomer<br />
            Miasto: @Model.CityAdressCustomer<br />
            Adres: ul.@Model.StreetAdressCustomer @Model.BuildingAdressCustomer/@Model.ApartmentAdressCustomer <br />
            Kod Pocztowy: @Model.KodCustomer <br />
        </p>*@


    </div>
</body>
</html>