@model IEnumerable<SuperRower.Models.BuyViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Numer transakcji
            </th>
            <th>
                Nazwa modelu
            </th>
            <th>
               Cena za dzień
            </th>
            <th>
                Data wynajmu
            </th>
            <th>
               Data końca wynajmu
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trans.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cena.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trans.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trans.EndDate)  
            </td>

        </tr>
        }
    </tbody>
</table>
