@model List<SuperRowerDB.RowerRent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista możliwych typów rowerów</h1>

<p>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
               Numer roweru
            </th>
            <th>
                Model
            </th>
            <th>
               Producent
            </th>
            <th>
                Kraj produkcji
            </th>
            <th>
                Rok produkcji
            </th>
            <th>
               Typ roweru
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowerRentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RowerRentID }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.RowerRentID  })
            </td>
        </tr>
}
    </tbody>
</table>
