@model List<SuperRowerDB.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabela Klientów</h1>

<p>
    <a asp-action="Add">Dodaj klienta</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Kod Klienta
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Telefon
            </th>
            <th>
                Miasto
            </th>
            <th>
                Ulica
            </th>
            <th>
                Nr budynku
            </th>
            <th>
                Nr mieszkania
            </th>
            <th>
                Kod pocztowy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAdressCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAdressCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingAdressCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentAdressCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodCustomer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CustomerID  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CustomerID  })
            </td>
        </tr>
}
    </tbody>
</table>
